body {
	background-color: black;
	padding-top: 37px;
	color: #87807b;
}

.noPadding {
	padding: 0px;
}

.top-nav {
	background-color: black;
}

.icon {
	max-width: 150px;
	margin: 0 auto;
	display: block;
}
.date{
	font-size: 13px;
}

@media (min-width: 1600px) {
	.container {
		max-width: 1500px;
	}
}